{% extends 'base.html' %}
{% block main %}
<div class="container">
  <div class="row">
      <div class="col">
          <form action="" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{form.as_p}}
              <div class="mt-3">
                  <input type="submit" value="Chop etish" class="btn btn-success">
                  <input type="reset" value="Tozalash" class="btn btn-danger">
                  <a href="{% url 'home-page' %}" class="btn btn-primary">Bosh sahifaga</a>
              </div>
          </form>
      </div>
  </div>
</div>
{% endblock main %}

